@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  background-color: hsl(235, 18%, 26%);
}

h1 {
  font-weight: 700;
  margin: 24px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

#cta {
  margin: 24px;
}

.illustration-sign-up-mobile {
  display: block;
  width: 100%;
  height: auto; /* preserves aspect ratio */
}
.illustration-sign-up-tablet {
  display: none;
}

.illustration-sign-up-desktop {
  display: none;
}

#email {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1.5px solid hsl(0, 0%, 58%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: -12px;
}

#container {
  background-color: hsl(0, 0%, 100%);
}

form > label {
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 24px 12px 0 12px;
}

li {
  margin: 12px 15px;
}

li img {
  margin-right: 12px;
  vertical-align: middle;
}

#email-address {
  padding: 24px;
}

#email-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

#email-headings > label {
  flex-shrink: 0;
}

#error-message {
  margin-left: 12px;
  color: hsl(4, 100%, 67%);
  font-size: 14px;
  text-align: right;
}

#success-message {
  background-color: hsl(0, 0%, 100%);
  padding: 120px 24px;
  height: 100%;
}

#success-message > h1 {
  margin: 24px 0;
  line-height: 1;
}

#success-message > .success-icon {
  width: 18%;
}

#success-message > p {
  margin-bottom: 82px;
}

#submit-button,
#dismiss-button {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 16px;
}

#submit-button:active,
#dismiss-button:active {
  background: hsl(4, 100%, 67%);
  border: 1.5px solid hsl(4, 98%, 50%);
  box-shadow: 0 6px 16px rgb(241, 160, 149);
}

#submit-button:focus,
#dismiss-button:focus {
  background: hsl(4, 100%, 67%);
  border: 1.5px solid hsl(4, 98%, 50%);
  box-shadow: 0 6px 16px rgb(241, 160, 149);
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .illustration-sign-up-mobile {
    display: none;
  }
  .illustration-sign-up-tablet {
    display: block;
  }

  .illustration-sign-up-desktop {
    display: none;
  }

  #top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
}

@media (min-width: 800px) {
  /* wider screens*/

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .illustration-sign-up-mobile {
    display: none;
  }
  .illustration-sign-up-tablet {
    display: none;
  }

  .illustration-sign-up-desktop {
    display: block;
    width: 100%;
  }

  #container {
    transform: scale(0.6);
    border-radius: 36px;
  }

  #form {
    display: flex;
  }

  #top {
    order: 2;
    padding-left: 0;
  }

  #bottom {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 0;
  }

  ul {
    margin: 0;
  }

  #success-message {
    border-radius: 36px;
    max-width: 26rem;
    padding: 48px;
  }

  #success-message > p {
    margin-bottom: 16px;
  }
}
